body {
    background-color: gainsboro;
}

h1 {
    color: chocolate;
    background-color: bisque;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
}

p {
    font-weight: 600;
    color: blueviolet;
}

button {
    background-color: chartreuse;
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    align-content: center;
    background-color: darkgoldenrod;
}